* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: beige;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

a:hover::after,
a:focus::after {
  transform: scale(1);
}

.navbar--elements {
  margin-left: 4rem;
}

.navbar--icons {
  margin-right: 4rem;
}

.fab {
  color: black;
}